<!--
  Generated template for the GoleadoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class='fondo'>

  <ion-navbar>
    <ion-title>Mejores goleadores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="Fondo">
  <ion-list>
    <ion-item *ngFor="let player of players;let i = index;">
      <ion-icon name="person" item-start large></ion-icon>
      <h2>{{player.name}}<ion-icon style="color:darkgoldenrod;" *ngIf="i == 0" name="star"></ion-icon></h2>
      <p>{{player.team}}</p>
      <h2 clear item-end>{{player.goles}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
