<!--
  Generated template for the AddgamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addgame</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Equipo local</ion-label>
    <ion-select [(ngModel)]="team1" (ionChange)="t1select()">
      <ion-option *ngFor="let team of teams | async" value="{{team.Name}}">{{team.Name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Equipo visitante</ion-label>
    <ion-select [(ngModel)]="team2" (ionChange)="t2select()">
      <ion-option *ngFor="let team of teams | async" value="{{team.Name}}">{{team.Name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item><ion-label style="text-align: center;">Goleadores - equipo local</ion-label></ion-item>
  <ion-item>
    <ion-label>Agregar</ion-label>
    <ion-select multiple="true" [(ngModel)]="filter1">
      <ion-option *ngFor="let team of players1 | async" value="{{team.name}}">{{team.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label style="text-align: center;">Goleadores - equipo visitante</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Agregar</ion-label>
    <ion-select multiple="true" [(ngModel)]="filter2">
      <ion-option *ngFor="let team of players2 | async" value="{{team.name}}">{{team.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item-group>
    <ion-item-divider color="light">Goleadores - local</ion-item-divider>
    <ion-item *ngFor="let team of filter1;let i = index;">
      <ion-label>{{team}}</ion-label>
      <ion-input text-right type="number" [(ngModel)]="Goles1[i]" placeholder="0"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Goleadores - visitante</ion-item-divider>
    <ion-item *ngFor="let team of filter2;let i = index;">
      <ion-label>{{team}}</ion-label>
      <ion-input text-right type="number" [(ngModel)]="Goles2[i]" placeholder="0"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item>
    <button ion-button color="secondary" small item-end (click)="showPrompt()">
      Guardar
    </button>
  </ion-item>
</ion-content>
